.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.wordOutput {
  background-color: #707274b3;
  color: aliceblue;
  margin-bottom: 2px;
}
.myContainer {
  display: flex;
  justify-content: space-between;
}
.fade-enter {
  opacity: 0.01;
}
.fade-enter-active {
  opacity: 1;
  transition: opacity 1000ms ease-in;
}
.fade-exit {
  opacity: 1;
}
.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1000ms ease-in;
}
.fColor {
  color: #343a3f;
}
.sColor {
  color: #7effd3;
}
